.button {
  background-color: transparent;
  border: var(--border-width) solid var(--primary-color);
  border-radius: 12px;
  color: var(--primary-color);
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 400;
  margin: 18px;
  padding: 21px 36px;
  outline: transparent solid 1px;
  transition: all 0.1s linear;
  &:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
  &.disabled {
    opacity: 0.25;
    outline: none;
    cursor: not-allowed;
    &:hover {
      background-color: transparent;
      color: var(--primary-color);
    }
  }
}
