.game {
  display: flex;
  height: 100%;
  .board {
    padding: 1rem;
    width: 70%;
    height: 100%;
  }
  .sidebar-left,
  .sidebar-right {
    padding: 1rem;
    width: 15%;
    height: 100%;
  }
  .sidebar-left {
    border-right: 1px solid #bebdbc;
  }
  .sidebar-right {
    border-left: 1px solid #bebdbc;
  }
}
