.game {
  display: flex;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  .board {
    padding: 1rem;
    width: 70%;
    height: 100%;
  }
  .sidebar-left,
  .sidebar-right {
    padding: 1rem;
    width: 15%;
    min-width: 226px;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
  }
  .sidebar-left {
    border-right: 1px solid #bebdbc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .sidebar-right {
    border-left: 1px solid #bebdbc;
  }
}
