.header {
  position: relative;
  padding: 1rem 0;
  border-bottom: 1px solid #bebdbc;
  .logo {
    font-family: var(--heading-font);
    font-weight: 400;
    text-align: center;
    font-size: 2rem;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.15);
    a {
      color: inherit;
      text-decoration: none;
    }
  }
  .user-menu {
    position: absolute;
    top: 1.5rem;
    right: 2.25rem;
    width: 32px;
    text-align: right;
    color: #bebdbc;
  }
}
.main {
  flex: 1;
}
