.new-player-screen-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddcfc1d0;

  .new-player-screen {
    width: 50%;
    margin: 0 auto;
    padding: 2rem;
    background: var(--dark-color);
    border-radius: 6px;
    color: white;
    box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.15);
    input {
      color: #fff;
    }
    .title {
      font-family: var(--heading-font);
      letter-spacing: 0.02rem;
      padding-bottom: 1rem;
    }
  }
}
